/******Hero header******/
.hero-image {
	position: relative;
	padding-top: 100px;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: url("../img/cover.jpg") no-repeat center center;
	background-size: cover;

	&::after {
		content: ""; // ::before and ::after both require content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(2, 0, 36);
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(0, 212, 255, 1) 100%);
		opacity: 0.5;
		z-index: 0;
		mix-blend-mode: multiply;
	}
	h1 {
		font-weight: bold;
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;
		z-index: 1;
	}
}

/******Sección pasteles******/
.cakes-container,
.covers-container {
	max-width: 1300px;
	margin: 80px auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;

	.cakes-item {
		flex: 1 1 300px;
		margin: 5px;
		text-align: center;
		background-color: #e85b76;

		box-shadow: 0 4px 15px rgba(232, 91, 118, 0.5);
		border-radius: 8px;
		padding-bottom: 30px;

		img {
			border-radius: 8px 8px 0 0;
			margin-bottom: 20px;
		}

		.cakes-title {
			color: #ffffff;
		}
		.cakes-price {
			font-weight: bold;
			color: #fbe1e6;
		}
	}
}

/******Sección adornos******/
.covers-container {
	.covers-item {
		flex: 1 1 19%;
		max-width: 20%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background-color: #54b5cf;
		box-shadow: 0 4px 15px rgba(124, 198, 218, 0.5);
		margin: 5px;
		border-radius: 45px 8px 8px 45px;
		img {
			width: 90px;
			height: 90px;
			border-radius: 50%;
		}
		.covers-info {
			padding: 10px 15px;

			.covers-title {
				font-size: 1.2rem;
				color: #ffffff;
			}
			.covers-price {
				font-weight: bold;
				color: #d9eef4;
			}
		}
	}
}

.form-section {
	width: 100%;
	margin: 80px auto 0;
	padding: 80px 20px;
	background-color: azure;

	.form {
		width: 50%;
		background-color: #fce5eb;
		margin: 0 auto;
		padding: 40px;

		.checkbox-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 30px;

			.form-box {
				padding: 5px;
			}
		}
	}
}

.shape-top {
	top: -1px;
}

.shape {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
	direction: ltr;
	z-index: 1;
	svg {
		display: block;
		width: calc(100% + 1.3px);
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		fill: #ffffff;
	}
}

/******Footer******/
.footer {
	position: relative;
	padding: 100px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: url("../img/cover2.jpg") no-repeat center center;
	background-size: cover;

	&::after {
		content: ""; // ::before and ::after both require content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(2, 0, 36);
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(0, 212, 255, 1) 100%);
		opacity: 0.7;
		z-index: 0;
	}

	.footer-info {
		max-width: 1300px;
		z-index: 2;
		text-align: center;

		.logo {
			text-align: center;
		}

		hr {
			background: #ffffff;
			margin: 30px 0;
		}
		p {
			color: #ffffff;
		}
	}
}

@media screen and (max-width: 1299px) {
	.cakes-item {
		flex: 1 1 48%;
		max-width: 32%;
	}
	.covers-container {
		.covers-item {
			flex: 1 1 30%;
			max-width: 30%;
		}
	}
	.form-section {
		.form {
			width: 65%;
		}
	}
}

@media screen and (max-width: 992px) {
	.cakes-item {
		flex: 1 1 50%;
		max-width: 50%;
	}
	.covers-container {
		.covers-item {
			flex: 1 1 48%;
			max-width: 49%;
		}
	}
	.form-section {
		.form {
			width: 80%;
		}
	}
}

@media screen and (max-width: 767px) {
	.cakes-item {
		flex: 1 1 100%;
		max-width: 100%;
	}
	.covers-container {
		.covers-item {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
	.form-section {
		.form {
			width: 98%;
		}
	}
}
